@model DataMining.WebApp.Models.Tbl_Valores

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tbl_Valores</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Valor1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor2)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
